.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  width: 100%;
  text-align: center;
  margin: 0;
  font-style: italic;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.title {
  font-size: 1.3rem;
}

.img {
  max-width: 300px;
  border: 1px solid var(--secondary-color);
  border-radius: 200px;
  margin: 20px;
}

#social a {
  display: inline-block;
}

.social-item {
  padding: 5px;
  -webkit-transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s;
  -moz-transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s;
  -ms-transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s;
  -o-transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s;
  transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s;
}

.google-plus {
  color: #dd4b39;
  background-color: #fff;
}

.google-plus:hover {
  color: #fff;
  background-color: #dd4b39;
}

.twitter {
  color: #00aced;
  background-color: #fff;
}

.twitter:hover {
  color: #fff;
  background-color: #00aced;
}

.linkedin {
  color: #007bb6;
  background-color: #fff;
}

.linkedin:hover {
  color: #fff;
  background-color: #007bb6;
}

.facebook {
  color: #3b5998;
  background-color: #fff;
}

.facebook:hover {
  color: #fff;
  background-color: #3b5998;
}

.freecodecamp {
  color: #006401;
  background-color: #fff;
}

.freecodecamp:hover {
  color: #fff;
  background-color: #006401;
}

.github {
  color: #171516;
  background-color: #fff;
}

.github:hover {
  color: #fff;
  background-color: #171516;
}
