:root {
  --primary-color: #015da9;
  --secondary-color: #ccc;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
